.menu {
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-position: center;
  background-size: cover;
}
.menu__title {
  max-width: 800px;
  padding-top: 100px;
  margin: auto;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  max-width: 800px;
  margin: auto;
  padding-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.menu__cards {
  padding: 100px 0 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
}
